ul {
    padding-inline-start: 0 !important;
}

.player-rank {
    width: 50px;
}


#data {
    background-color: bisque;
}

#last-ten {
    background-color: #e4e4e4;
}

.item-image {
    border-radius: 5px;
    padding: 0 1px;
}
