/* UTILS */
ul {
    padding-inline-start: 0 !important;
    list-style: none;
}

.blue {
    background-color: #d2ebf5 !important;
}

.red {
    background-color: #f7dddc !important;
}

.small-font {
    font-size: 13px !important;
}

/* SUMMONER SEARCH */

.summoner-search {
    min-width: 200px !important;
}

#summoner-name-euw {
    font-style: italic;
}

/* PROFILE */

.profile-pic {
    width: 60px;
    border-radius: 5px;
}

/* MATCH-HISTORY */

.match {
    border-radius: 5px;
    height: 100px;
}

.champion-container {
    position: relative;
}

.level-badge {
    position: absolute;
    bottom: -15px;
    left: 10px;
    border-radius: 5px;
}

.champion-image {
    border-radius: 5px;
    width: 50px;
}

.player-rank {
    width: 70px;
}

.item-image {
    border-radius: 5px;
    padding: 0 1px;
}

.items-container {
    max-width: 100px;
}

.summoner-image,
.perk-image {
    width: 20px;
}

/* ROTATION */

#free-rotation-container {
    max-width: 500px;
}

/* ABOUT */

#about {
    max-width: 500px;
}