:root {
  --black: #252525;
  --black-dark: #080808;
  --white: #ececec;
  --gray: #cecece;
  --wine: #721f1f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--black);
  color: var(--white);
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: var(--black-dark);
}

/* CONTENT */

.content {
  max-width: 200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title {
  text-align: center;
}

.search-player-input {
  margin: 20px 0;
}

.search-player-btn {
  width: 100px;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--wine);
  text-align: center;
  padding: 15px 0;
}

.footer__link {
  color: var(--white);
}

.footer__link:hover {
  color: var(--gray);
}