ul {
    padding-inline-start: 0;
}

.player-rank {
    width: 50px;
}


#data {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

#match-history {
    font-family: 'Crimson Text', serif !important;
}

#last-ten {
    background-color: #e4e4e4;
}

.item-image {
    border-radius: 5px;
    padding: 0 1px;
}
